#ignore scheme cache files with the scm~ extension
*.scm~
#Eclipse project file
.project
#opened files
*~
#Launcher file
FluxusBrosLauncher.scm
#Devellopement visuals
visus/A\ intégrer/
visus/A\ debugger/
visus/Experimental
#Tests files
Tests/
Tests/*
temp.scm
